.desktop-none {
     display: none;
}
 .navbar-toggler-icon {
     width: 30px;
     height: 30px;
}
 .navbar-light .navbar-toggler {
     color: #fff;
     border-color: transparent;
     padding: 0;
     border: 0;
     outline: none;
}
 @media (min-width: 992px) {
     .container {
         max-width: 1070px;
    }
}
 @media (min-width: 1300px) {
     .container {
         max-width: 1200px;
    }
}
 @media screen and (min-width: 1800px) {
    .container {
    }
}
 @media screen and (min-width: 1700px) {

}
 @media screen and (min-width: 1500px) {

}
@media (max-width: 1500px) {
     .ContentSecion2-Image, .FormBox{
/*     	max-width: 468px;*/
     }
}
@media screen and (max-width: 1300px) {
	.logo-box {
		overflow: hidden;
		width: 170px;
	}
	.head-program h3{
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0px;
	}
	.price-program h5{
		    font-size: 14px;
	}
	.foot-logo {
		width: 200px;
		margin-bottom: 10px;
	}
	.program-sidebar ul li a{
		font-size: 14px;
	}
	.program-sidebar .sidebar-head h3{
		font-size:18px;
	}
	.program-sidebar .nav-tabs a.active,
	.program-sidebar .nav-tabs li.show a{
		font-size:14px;
	}
	.program-sidebar ul li a:after{
		width: 15px;
		height: 9px;
	}
	.img-panel figcaption h2{
		font-size:22px;
	}
	.inst-name h4{
		font-size:14px;
	}
	.img-panel figcaption{
		padding:30px;
	}
	.user-instructor{
		margin-right: 20px;
		padding-right: 10px;
	}
	.program-sidebar{
		padding-left:20px;
	}
	.calendar {
		margin-right: 10px;
	}
	.user-instructor .inst-img{
		margin-right: 10px;
	}
	.user-instructor .inst-img {
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
	}
	.price-book p{
		font-size: 14px;
		letter-spacing: 0px;
	}
	.Facilities h3 {
		margin: 0;
		font-size: 16px;
	}
 }
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1080px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (min-width: 991px) and (max-width: 1024px) {
	.navbar-light .navbar-nav > li > a{
		font-size: 13px;
	}
}
@media screen and (max-width: 991px) {
	  
	 .info-box{
		 padding:20px;
	 }
	 .map-frame {
		margin-bottom: 30px;
	}
	.pnel-box{
		padding-left:0px;
	}
	.desktop-none {
		display: inline-block;
	}
	.right-head {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.green-btn{
		/* padding: 11px 20px; */
		/* height: 46px; */
	}
	.schedule-call .green-btn{
		/* margin-right:5px; */
	}
	.navbar-light .navbar-toggler {
		color: #fff;
		border-color: transparent;
		padding: 0;
		border: 0;
		outline: none;
		height: 43px;
		background: #eee;
		width: 50px;
		border-radius: 6px;
	}
	.Test-box {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;
	}
	.Test-box figcaption {
		padding: 0px 0px;
		margin-top: 20px;
	}
	.testimonials .owl-carousel .owl-dots {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.pnel-box {
		padding-left: 0px;
		border-bottom: 1px solid #ddd;
		border-right: 0;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.btn-strip .green-btn {
		margin-left: auto;
		font-size: 18px;
		margin-right: auto;
		margin-top: 20px;
	}
	.footer-item {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.30);
	}
	.strip-content h2{
		text-align:center;
	}
	div#navbarSupportedContent {
		position: absolute;
		background: #fff;
		width: 100%;
		left: 0;
		padding: 20px;
	}
	.mobile-none {
		display:none;
	}
	.dropdown-menu{
		box-shadow:none;
		width:100%;
		padding:0;
		padding-left:10px;
	}
	#navbarSupportedContent {
		position: absolute;
		background: #fff;
		width: 100%;
		left: 0;
		padding: 20px;
		box-shadow: 10px 30px 20px #ebebeb;
		border-bottom-left-radius:8px;
		border-bottom-right-radius:8px;
	}
	.statement-img {
		margin-bottom:30px;
	}
	.statement-content{
		padding-right:0;
	}
	.order-1 {
		order: -1;
		margin-bottom: 30px;
	}
}	
 @media screen and (min-width: 767px) and (max-width: 991px) {
}
 @media screen and (max-width: 767px) {
 	.formSection {
    margin-top: 0;
}
.bannerContent h1 { 
    font-size: 26px; 
    line-height: 1.5;
}
.banner {  
    background-position: right;
}
.copyright {
    padding: 20px 0px;
    margin-top: 0;
    background: #231F14;
}
.copyright p {
    text-align: center;
    max-width: 335px;
    margin: auto;
}
.footerIcons ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
	 .Facilities{
		 flex-direction:column;
	 }
	 .Facilities h3 {
		margin: 0;
		font-size: 20px;
	}
	 .appoint-grp{
		     flex-direction: column;
			     align-items: start;
	 }
	.book-inst {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.price-book {
		margin-left: 0;
		margin-bottom: 10px;
	}
	 .user-instructor {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom:20px;
	}
	.durations {
		margin-bottom: 20px;
		border-top: 1px solid #ddd;
		padding-top: 15px;
		width: 100%;
		border-bottom: 1px solid #ddd;
		padding-bottom: 17px;
	}
	.Appointment {
		margin-left: auto;
		width: 100%;
	}
	.Appointment .green-btn {
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		height:60px;
	}
	
	 .info-box{
		 border-right:0;
		 border-bottom:1px solid #ddd;
		 margin-bottom:10px;
	 }
	.schedule-call .green-btn{
		    /* padding: 8px 20px; */
		    /* height: 40px; */
	}
	.navbar-light .navbar-toggler{
		width: 48px;
		height: 40px;
		top: -2px;
		position: relative;
	}
	nav.navbar.navbar-expand-lg.navbar-light{
		padding: 10px 0px;
	}
	.right-head {
		padding-top: 11px;
		padding-bottom: 11px;
	}
	.MemeberModal .instructor-box {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-bottom:15px;
	}
	.MemeberModal .instructor-box figcaption ul{
		justify-content:center;
	}
	.header.js-header.darkHeader.darkHeader-2 .navbar.navbar-expand-lg.navbar-light {
		padding: 0px 0px;
	}
	
}
 @media screen and (min-width: 574px) and (max-width: 767px) {
}
 @media screen and (max-width: 700px) {
}
 @media screen and (max-width: 574px) {
	.conatct-info-sec{
	    padding: 20px 0px;
	}
	 .contact-form{
		 padding:20px;
	 }
	 .navbar-light .navbar-toggler {
		width: 42px;
		height: 40px;
	 }
	 .schedule-call .green-btn {}
	.navbar-toggler-icon {
		width: 25px;
		height: 26px;
	}
	.green-btn{
		/* font-size:12px; */
		min-width: 162px;
	}   
	.schedule-call .green-btn svg{
		display:none;
	}		
	.instructor-main{
		padding:30px;
	}
	.logo-box {
		overflow: hidden;
		/* width: 150px; */
	}
	.space {
		padding: 50px 0px;
	}
	.heading-pnel h2{
		font-size:24px;
	}
	.heading-pnel p{
		font-size:14px;
	}
	.Test-box figcaption h4{
		line-height: 30px;
		    font-size: 22px;
	}
	.Test-box .test-img {
		width: 100%;
		flex: 0 0 100%;
		text-align: center;
	}
	.grid-instructor .instructor-box {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-bottom:15px;
	}
	.grid-instructor .instructor-box figcaption ul{
		justify-content:center;
	}
}
 @media screen and (max-width: 460px) {
	.schedule-call .green-btn {
		/* font-size:11px; */
	}
	.schedule-call{
		margin-left:6px;
	}
	.logo-box {
		overflow: hidden;
		/* width: 120px; */
	}
	.navbar-light .navbar-brand {
		margin: 0;
		padding: 0;
	}
	
}
 @media screen and (max-width: 420px) {
	.statement-img{
		width:300px;
		height:300px;
	}
}
 @media screen and (max-width: 375px) {
}
 